.cafeterias-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.cafeterias-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  height: 200px; /* Ajustar según sea necesario */
  object-fit: cover;
}
