
  
  /* Estilos para inputs inválidos enfocados */
  input.ng-invalid.ng-touched {
    box-shadow: none; /* Remover la sombra cuando está enfocado */
    border-color: red; 
    transition: all 300ms;
  }
  
  /* Estilos para inputs inválidos modificados */
  input.ng-invalid.ng-dirty {
    border-color: red; /* Cambiar el borde a rojo */
    transition: all 300ms;
  }
  
form{
    width: 50%;
}
