<div class="container">
    <h1 class="title">Ventas por Campus</h1>
    
    <button  class="btn btn-light"  [routerLink]="['/obtenerFacturaciones']">
      <i class="bi bi-arrow-left"></i> Volver a Facturaciones
  </button>
  
    <!-- Selector para elegir el campus -->
    <div class="form-group row">
      <label for="campusID" class="col-form-label col-sm-2">Seleccionar Campus:</label>
      <select class="form-control col-sm-3" id="campusID" [(ngModel)]="campusID" (change)="obtenerVentasPorCampus()">
        <option *ngFor="let campus of campusList" [value]="campus.id">{{ campus.nombre }}</option>
      </select>
    </div>
  
    <!-- Tabla para mostrar las ventas por campus -->
    <div class="table-responsive" *ngIf="ventasPorCampus.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Factura No.</th>
            <th>Fecha de Venta</th>
            <th>Monto</th>
            <th>Unidades Vendidas</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventasPorCampus">
            <td>{{ venta.noFactura }}</td>
            <td>{{ venta.fechaVenta | date:'mediumDate' }}</td>
            <td>{{ venta.montoArticulo | currency }}</td>
            <td>{{ venta.unidadesVendidas }}</td>
            <td>{{ venta.Total | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Mensaje si no hay ventas por campus -->
    <div *ngIf="ventasPorCampus.length === 0" class="text-center no-ventas">
      <p>No se encontraron ventas para este campus.</p>
    </div>
  </div>
  