.container {
    margin-top: 20px;
  }
  
  .title {
    color: #007bff;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .no-ventas {
    margin-top: 20px;
    color: #dc3545;
    font-weight: bold;
  }
  