
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" >
      <a class="navbar-brand" >Cafeteria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/obtenerUsuarios']">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerTipoUsuario']">Tipos usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerProveedores']">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerMarcas']">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerEmpleados']">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerCampus']">Campus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerCafeterias']">Cafeterias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerArticulos']">Articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/obtenerFacturaciones']">Facturas</a>
          </li>
         
       
     
        </ul>
      </div>
      <button class="btn btn-outline-success" type="button" (click)="LogOut()">LogOut</button>
    </div>
    
  </nav>

<router-outlet></router-outlet>


